{% extends "main/header.html" %}

{% block content %}

<div class="container" style="max-width:1500px; min-height:100%">
  <div class="row">
      {% for tut in tutorials %}
        <div class="col l4 s12 m6">
          <div class=" card-panel hoverable card grey lighten-3 card small">
            <div class="card-content black-text">
              <span class="card-title">{{tut.tutorial_title}}</span>
                <p style="font-size: 70%">{{tutorial.tutorial_title}}</p>
                <p>{{tutorial.tutorial_content|safe}}</p>
            </div>
              <div class="card-action">
                  <a href="" style="color:#000000">View</a>
              </div>
          </div>
        </div>
      {% endfor %}
  </div>
</div>

{% endblock %}